@model Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
 
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Created time
                                </th>
                                <th>
                                    Filial
                                </th>
                                <th>
                                    Message
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr>

                                    <td class="py-1">
                                        @Model.Name
                                    </td>
                                    <td class="py-1">
                                        @Model.Email
                                    </td>
                                    <td>
                                        @Model.Date.ToString("dd MM yyyy mm : ss")
                                    </td>
                                    <td class="py-1">
                                        @Model.Filial
                                    </td>
                                    <td>
                                        @Model.Message
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>