@model Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<CategoryIn> categoryins = (List<CategoryIn>)ViewBag.CategoryIns;
    List<Category> categories = (List<Category>)ViewBag.Categories;

}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body"> 
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Photo">Photo</label>
                                <input asp-for="Photo" class="form-control" placeholder="Photo">
                            </div>
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                            </div>
                            <div class="form-group">
                                <label asp-for="Count">Count</label>
                                <input asp-for="Count" class="form-control" placeholder="Count">
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="@Model.CategoryIds">Kateqoriyalar?</label>
                                <select class="form-control" asp-for="@Model.CategoryIds" asp-items="@(new SelectList(categories,"Id","Name"))">

                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="@Model.CategoryInIds">Destler?</label>
                                <select class="form-control" asp-for="@Model.CategoryInIds" asp-items="@(new SelectList(categoryins,"Id","Name"))">

                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a asp-area="admin" asp-controller="slider" asp-action="index" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>