@model Product
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<a asp-controller="product" asp-action="create" class="btn btn-success">Create</a>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Created time
                                </th>
                                <th>
                                    Desc
                                </th>
                                <th>
                                    Count
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Kateqoriya
                                </th>
                                <th>
                                    Dest
                                </th>
                                <th>
                                    #
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            

                                <tr>
                                    <td class="py-1">
                                        @foreach (var photo in Model.ProductImages)
                                        {
                                            if (photo.IsMain)
                                            {
                                                <img src="~/assets/img/product/@photo.ImageUrl" alt="image" />

                                            }
                                        }
                                    </td>
                                    <td class="py-1">
                                        @Model.Name
                                    </td>
                                    <td>
                                        @Model.CreatedTime.ToString("dd MM yyyy mm : ss")
                                    </td>
                                    <td>
                                        @Model.Description
                                    </td>
                                    <td>
                                        @Model.Count</td>
                                <td>
                                    @Model.Price
                                </td>
                                <td>
                                    @foreach (var item in Model.ProductCategories)
                                    {
                                        @item.Category.Name
                                    }
                                </td>
                                <td>
                                    @foreach (var item in Model.ProductCategorIns)
                                    {
                                        @item.CategoryIn.Name
                                    }
                                </td>

                                <td>
                                    <a asp-area="admin" asp-controller="product" asp-action="index" class="btn btn-primary">Geriye</a>

                                </td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>