@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<a asp-controller="category" asp-action="create" class="btn btn-success">Create</a>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Created time
                                </th>
                                <th>
                                    Delete
                                </th>
                                <th>
                                    Edit
                                </th>
                                <th>
                                    Detail
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="py-1">
                                        <img src="~/assets/img/category/@item.ImageUrl" alt="image" />
                                    </td>
                                    <td class="py-1">
                                       @item.Name
                                    </td>
                                    <td>
                                        @item.CreatedTime.ToString("dd MM yyyy mm : ss")
                                    </td>
                                    <td>
                                        <a asp-controller="category" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                                    </td>
                                    <td>
                                        <a asp-controller="category" asp-action="edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                    </td>
                                    <td>
                                        <a asp-controller="category" asp-action="detail" asp-route-id="@item.Id" class="btn btn-success">Detail</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>