@model OrderVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalprice = 0;
}
<!--====== Cart-Area Start ======-->
<div class="container">
    <div>
        <h3>Səbət</h3>
    </div>
    <!-- Cart-Top -->
    <div class="row px-sm-0  ">
        <div class="col-lg-4 col-5 p-0">
            <div class=" border bg-grey text-center">
                <h4 class="fw-normal">Məhsul</h4>
            </div>
        </div>
        <div class="col-lg-2 d-none d-sm-block  p-0">
            <div class=" border bg-grey text-center">
                <h4 class="fw-normal">Qiymət</h4>
            </div>
        </div>
        <div class="col-lg-1 d-none d-sm-block  p-0">
            <div class=" border bg-grey text-center">
                <h4 class="fw-normal">Status</h4>
            </div>
        </div>
        <div class="col-lg-2 col-2 p-0">
            <div class=" border bg-grey text-center">
                <h4 class="fw-normal">Ədəd</h4>
            </div>
        </div>
        <div class="col-lg-2 col-3 p-0">
            <div class=" border bg-grey text-center">
                <h4 class="fw-normal">Cəmi</h4>
            </div>
        </div>
        <div class="col-lg-1 col-2 p-0">
            <div class=" border bg-grey text-center">
                <h4 class="fw-normal">Sil</h4>
            </div>
        </div>
    </div>

    <!-- Cart-Bottom -->
    @foreach (var item in Model.BasketItems)
    {
        <span style="display:none">@(totalprice += item.Count * item.Product.Price)</span>

        <div class="row px-sm-0 align-items-center">
            <div class="col-lg-4 col-5 p-0">
                <div class="border h-90 h-sm-120 text-sm-start text-center ps-sm-4 pt-sm-4 pt-1">
                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Product.Id" class="text-decoration-none sm-block ">
                        @foreach (var image in item.Product.ProductImages)
                        {
                            @if (image.IsMain)
                            {

                                <img src="~/assets/img/product/@image.ImageUrl" class="w-25 w-sm-50 br-5" alt="">
                            }
                        }
                    </a>
                    <a  asp-controller="shop"asp-action="detail"asp-route-id="@item.Product.Id" class="text-decoration-none sm-block  text-black hover2 t-5">@item.Product.Name</a>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-block p-0">
                <div class="border h-90 pt-4 ps-4">
                    <h4 class="text-grey"><span class="money">@item.Product.Price</span> AZN</h4>
                </div>
            </div>
            <div class="col-lg-1 d-none d-sm-block p-0">
                <div class="border h-90 pt-4 ps-2">
                    @if (item.Product.Count != 0)
                    {

                        <span class="text-grey">Mövcuddur	</span>
                    }
                    else
                    {
                        <span class="text-grey">Mövcud deyil	</span>

                    }
                </div>
            </div>
            <div class="col-lg-2 col-2 p-0">
                <div class="border h-90 h-sm-120">
                    <div class="qty pt-4 d-flex">
                        <div data-id="@item.Product.Id" class="minus down fw-bold" style="cursor: pointer;">-</div>
                        <span class="bg-transparent inp-value border-0 w-24" style="outline: none;">@item.Count</span>
                        <div data-id="@item.Product.Id" class="plus up fw-bold" style="cursor: pointer;">+</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-3 p-0">
                <div class="border h-90 h-sm-120 pt-4 ps-2">
                    <h4 class="text-yellow text-center"><span class="money-t" data-id="@item.Product.Id">@((item.Product.Price * item.Count))</span> AZN</h4>
                </div>
            </div>
            <div class="col-lg-1 col-2 p-0">
                <div class="border text-center h-90 h-sm-120 pt-4 ps-2">
                    <a asp-controller="basket" asp-action="remove" asp-route-id="@item.Product.Id" class="text-decoration-none delete text-black" style="cursor: pointer;">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </a>
                </div>
            </div>
        </div>
    }
    <!-- Continue-shopping -->
    <div class="row ">
        <div class="col-lg-12 text-end bg-grey py-4">
            <a href="/shop/index" class="bg-yellow text-black hover3 t-5 text-decoration-none br-5  py-2 px-3">Almaga davam et</a>
        </div>
    </div>

    <!-- Total -->
    <div class="row mt-5 justify-content-end">
        <div class="col-lg-6 ">
            <div class="border">
                <h4 class=" fw-normal py-1 text-center p-0 m-0">Sifarişlərin məbləği</h4>
                <div class="d-flex border-top py-2">
                    <span class="text-grey">Ümumi	</span>
                    <span class="text-grey ml-5"><span class="total_pric">@totalprice</span> AZN</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== Cart-Area End ======-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Input count
    var myInp = document.querySelectorAll(".inp-value");
    var increaseBtn = document.querySelectorAll(".up");
    var decreaseBtn = document.querySelectorAll(".down");
    for (let elem of decreaseBtn) {

        elem.addEventListener("click", function (e) {
            e.preventDefault()
            countst = this.nextElementSibling.innerText
            countstn = Number(countst)
            if (countstn > 1) {
                count = this.nextElementSibling.innerText
                countn = Number(count)
                countn -= 1;
                this.nextElementSibling.innerText = countn;
            }
        })
    }
    for (let elem of increaseBtn) {

        elem.addEventListener("click", function (e) {
            e.preventDefault()
            count = this.previousElementSibling.innerText
            countn = Number(count)
            countn += 1;
            this.previousElementSibling.innerText = countn;


        })
    }
    $(document).ready(function () {

        $(document).on("click", ".down", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id")
            var totall = document.querySelector(".total_pric")
            var money = document.querySelectorAll(".money-t")
            console.log(id)
            $.ajax({
                url: "/basket/minus",
                data: {
                    id: id
                },
                type: "post",
                datatype: "json",
                success: function (data) {
                    money.forEach(mon => {
                        if (id == mon.getAttribute("data-id")) {
                            mon.innerHTML = data.price
                            console.log(data.price)
                        }
                    })
                    totall.innerHTML = `${data.totalPrice}`

                }
            })

        })

        $(document).on("click", ".up", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id")
            var totall = document.querySelector(".total_pric")
            var money = document.querySelectorAll(".money-t")
            console.log(id)
            $.ajax({
                url: "/basket/plus",
                data: {
                    id: id
                },
                type: "post",
                datatype: "json",
                success: function (data) {
                    money.forEach(mon => {
                        if (id == mon.getAttribute("data-id")) {
                            mon.innerHTML = data.price
                            console.log(data.price)
                        }
                    })
                    totall.innerHTML = `${data.totalPrice}`

                }
            })

        })

        $(".delete").click(function (e) {
            e.preventDefault()
            console.log($(this).attr("href"))
            Swal.fire({
                title: 'Əminsiniz?',
                text: "Bunun geri dönüşü yoxdur!",
                icon: 'Xəbərdarlıq',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli sil!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var link = $(this).attr("href");
                    fetch(link).then(response => response.json()).then(data => {
                        if (data.status == 200) {
                            location.reload(true)
                        } else {
                            Swal.fire(
                                'Tapılmadı!',
                                'Fayl silinmiş ola bilər.',
                                'Uğursuz cəhd'
                            )
                        }
                    });
                }
            })
        })
    })


</script>